<div class="col-2-xl">
    <div class="sidebar">
        <div class="btn-group-vertical d-flex" role="group" aria-label="Vertical button group">
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
        </div>
    </div>
</div>